# Getting Raw Data into Dataframes

In [21]:
from IPython.display import display, Markdown, HTML
import numpy as np

## Import Spot Yield Data and Perform Basic Reasonableness Check

In [2]:
import pandas as pd

#load in first spreadsheet to df1
df1 = pd.read_excel("GLC Nominal month end data_1970 to 2015.xlsx",sheet_name="4. spot curve",engine="openpyxl",skiprows=5,header=None)
#create an appropriate set of headers
col_names=pd.read_excel("GLC Nominal month end data_1970 to 2015.xlsx",sheet_name="4. spot curve",engine="openpyxl",skiprows=3,nrows=1,header=None)
col_names[0]="Date"
df1.columns = col_names.iloc[0] 
#load in second spreadsheet to df2
df2 = pd.read_excel("GLC Nominal month end data_2016 to present.xlsx",sheet_name="4. spot curve",engine="openpyxl",skiprows=5,header=None)
#create an appropriate set of headers
col_names2=pd.read_excel("GLC Nominal month end data_2016 to present.xlsx",sheet_name="4. spot curve",engine="openpyxl",skiprows=3,nrows=1,header=None)
col_names2[0]="Date"
df2.columns = col_names2.iloc[0]

In [3]:
#join the two dataframes to create df
df = pd.concat([df1, df2], ignore_index=True)
print("The length of combined dataframe is "+str(len(df))+" rows")

The length of combined dataframe is 660 rows

In [4]:
#producing some sense checks
display(Markdown("**Checking Dataframe 1 -  1970 to 2015**")) 
print("the first dates is "+ str(df.iloc[0,0].strftime('%Y-%m-%d'))+" and the last is " +str(df.iloc[551,0].strftime('%Y-%m-%d') ))
print("one would therefore expect 12 x 46yrs = 552 entries")
print("and indeed we see the number of rows in df is "+str(len(df1)))

**Checking Dataframe 1 -  1970 to 2015**

the first dates is 1970-01-31 and the last is 2015-12-31
one would therefore expect 12 x 46yrs = 552 entries
and indeed we see the number of rows in df is 552

In [5]:
display(Markdown("**Checking Dataframe 2 -  2015 to present**")) 
print("the first dates is "+ str(df.iloc[552,0].strftime('%Y-%m-%d'))+" and the last is " +str(df.iloc[659,0].strftime('%Y-%m-%d') ))
print("one would therefore expect 12 x 9yrs = 108 entries")
print("and indeed we see the number of rows in df is "+str(len(df2)))

**Checking Dataframe 2 -  2015 to present**

the first dates is 2016-01-31 and the last is 2024-12-31
one would therefore expect 12 x 9yrs = 108 entries
and indeed we see the number of rows in df is 108

In [18]:
display(Markdown("**sum of values check**")) 
print("manual inspection of the sum of all values in first spreadsheet is 191503.172322029")
print("the sume of 1st dataframe is also " + str(df1.iloc[:, 1:].sum().sum()))
display(HTML("<span style='color:red;'>the very minor differences are because ....</span>"))
print("the sum of all values in second spreadsheet is 17844.9993308767")
print("the sume of 1st dataframe is also " + str(df2.iloc[:, 1:].sum().sum()))
display(HTML("<span style='color:red;'>the very minor differences are because ....</span>"))
print("the sum of combined dataframe is  " + str(df.iloc[:, 1:].sum().sum()))
combined_total = 191503.172322029 + 17844.9993308767
print("and the sum of the manually observed 191503.172322029 + 17844.9993308767 = " + str(combined_total))

**sum of values check**

manual inspection of the sum of all values in first spreadsheet is 191503.172322029
the sume of 1st dataframe is also 191503.17232202887

the sum of all values in second spreadsheet is 17844.9993308767
the sume of 1st dataframe is also 17844.999330876683

the sum of combined dataframe is  209348.17165290558
and the sum of the manually observed 191503.172322029 + 17844.9993308767 = 209348.1716529057

## Calculate Spot Yield Differences

In [ ]:
# using np.log on the dataframe generates errors which is often the case when importing from an excel csv and we having this like values in quotes and blank spaces
# we only want to apply np.log to the numerical values so we have to temporarily drop the years column
df_numeric = df.drop(columns='Date', errors='ignore')
# coerce changes non numeric values to something appropriate
df_converted = df_numeric.apply(pd.to_numeric, errors='coerce')
mask_problem = df_numeric.ne(df_converted)  # where values differ (non-convertible)
filtered = df_numeric[mask_problem]

In [ ]:
print(filtered.index)
print(df_numeric.index)

In [27]:
df.iloc[:,1:].sum().sum()

np.float64(209348.17165290558)

In [37]:
np.log(df.iloc[:,1:])

/nix/store/grz7lgv2i6x8335n1pfl38x906vc2iby-python3-3.12.10-env/lib/python3.12/site-packages/pandas/core/internals/blocks.py:393: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)

,0.5,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0,...,35.5,36.0,36.5,37.0,37.5,38.0,38.5,39.0,39.5,40.0
0,NaN,2.155865,2.164177,2.163407,2.159182,2.153934,2.148557,2.143398,2.138608,2.134239,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2.129794,2.127907,2.124743,2.120779,2.116447,2.112078,2.107884,2.103977,2.100422,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2.046943,2.051911,2.053485,2.053239,2.052194,2.050950,2.049814,2.048926,2.048347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2.029005,2.062340,2.076126,2.079747,2.078543,2.075374,2.071704,2.068308,2.065603,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2.000277,2.045864,2.062064,2.064012,2.059325,2.051845,2.043562,2.035601,2.028615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,1.455826,1.439353,1.402119,1.375484,1.356925,1.343494,1.333993,1.327756,1.324277,1.323134,...,1.499410,1.497142,1.494746,1.492218,1.489558,1.486763,1.483831,1.480760,1.477550,1.474197
656,1.477274,1.425788,1.376319,1.346838,1.329441,1.319028,1.313292,1.310951,1.311175,1.313381,...,1.515755,1.513311,1.510736,1.508030,1.505189,1.502213,1.499099,1.495847,1.492453,1.488918
657,1.509063,1.479084,1.457223,1.445040,1.436732,1.430826,1.427094,1.425345,1.425352,1.426876,...,1.562482,1.559861,1.557129,1.554288,1.551334,1.548267,1.545084,1.541785,1.538368,1.534832
658,1.480481,1.439974,1.416794,1.403691,1.394121,1.386840,1.381801,1.378954,1.378166,1.379234,...,1.543082,1.540410,1.537605,1.534664,1.531586,1.528368,1.525007,1.521501,1.517847,1.514042
659,1.494679,1.460397,1.441731,1.434688,1.431337,1.429968,1.430298,1.432190,1.435510,1.440097,...,1.617167,1.614502,1.611717,1.608811,1.605781,1.602625,1.599343,1.595930,1.592387,1.588710

In [39]:
df.iloc[1,1:]

0
0.5          NaN
1.0     8.413131
1.5     8.397269
2.0     8.370748
2.5     8.337633
          ...
38.0         NaN
38.5         NaN
39.0         NaN
39.5         NaN
40.0         NaN
Name: 1, Length: 80, dtype: object

In [40]:
np.log(df.iloc[1,1:])

TypeError: loop of ufunc does not support argument 0 of type numpy.float64 which has no callable log method

In [41]:
df.iloc[1, 1:].apply(type)

0
0.5     <class 'numpy.float64'>
1.0     <class 'numpy.float64'>
1.5     <class 'numpy.float64'>
2.0     <class 'numpy.float64'>
2.5     <class 'numpy.float64'>
                 ...
38.0    <class 'numpy.float64'>
38.5    <class 'numpy.float64'>
39.0    <class 'numpy.float64'>
39.5    <class 'numpy.float64'>
40.0    <class 'numpy.float64'>
Name: 1, Length: 80, dtype: object

In [42]:
df.iloc[1, 1:].apply(type).value_counts()

1
<class 'numpy.float64'>    80
Name: count, dtype: int64

In [43]:
row = df.iloc[1, 1:]
print(row.isna().sum())  # How many NaNs?
print(row.dtypes)        # Check Series dtype
print(type(row))         # Confirm it's a Series
np.log(row)              # Try again

31
object
<class 'pandas.core.series.Series'>

TypeError: loop of ufunc does not support argument 0 of type numpy.float64 which has no callable log method

In [45]:
np.log(df.iloc[1,1:].to_numpy())

TypeError: loop of ufunc does not support argument 0 of type numpy.float64 which has no callable log method

In [36]:
df.head()

,Date,0.5,1,1.5,2,2.5,3,3.5,4,4.5,...,35.5,36,36.5,37,37.5,38,38.5,39,39.5,40
0,1970-01-31,NaN,8.635354,8.707430,8.700727,8.664049,8.618702,8.572477,8.528372,8.487617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1970-02-28,NaN,8.413131,8.397269,8.370748,8.337633,8.301590,8.265403,8.230804,8.198713,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1970-03-31,NaN,7.744187,7.782761,7.795017,7.793104,7.784963,7.775288,7.766459,7.759564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1970-04-30,NaN,7.606512,7.864352,7.973522,8.002442,7.992813,7.967524,7.938335,7.911422,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1970-05-31,NaN,7.391107,7.735838,7.862182,7.877510,7.840673,7.782249,7.718053,7.656856,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Looking at Dataframes in Spreadsheet

In [20]:
import os

with pd.ExcelWriter("output.xlsx", engine="openpyxl") as writer:
    df1.to_excel(writer, sheet_name="df1", index=False)
    df2.to_excel(writer, sheet_name="df2", index=False)
    df.to_excel(writer, sheet_name="df", index=False)
    df_numeric.to_excel(writer, sheet_name="df_numeric", index=False)
    df_converted.to_excel(writer, sheet_name="df_converted", index=False)
    mask_problem.to_excel(writer, sheet_name="mask_problem", index=False)
    filtered.to_excel(writer, sheet_name="filtered", index=False)
    col_names.to_excel(writer, sheet_name="col_names", index=False)
    col_names2.to_excel(writer, sheet_name="col_names2", index=False)
os.system("libreoffice --calc output.xlsx & disown")

NameError: name 'df_numeric' is not defined

In [46]:
row = df.iloc[1, 1:].to_numpy()
print("Min:", np.nanmin(row))     # Ignores NaN
print("Any <= 0:", np.any(row <= 0))  # Will trigger log error

Min: 8.048354459961853
Any <= 0: False

/tmp/nix-shell-4091-0/ipykernel_68792/2039625757.py:3: RuntimeWarning: invalid value encountered in less_equal
  print("Any <= 0:", np.any(row <= 0))  # Will trigger log error

## a check on the log calculation
∑log(x 
i
​
 )=log(∏x 
i
​
 )

In [47]:
row = df.iloc[1, 1:]
bad_values = [v for v in row if not isinstance(v, (float, np.float64))]
print(bad_values)

[]

#### for i, val in enumerate(row):
    try:
        np.log(val)
    except Exception as e:
        print(f"Column {row.index[i]}: value={val!r} -> {type(val)} caused error: {e}")

In [50]:
np.log(df.iloc[1, 1:].reset_index(drop=True))

TypeError: loop of ufunc does not support argument 0 of type numpy.float64 which has no callable log method

In [51]:
np.log(pd.to_numeric(df.iloc[1, 1:], errors='coerce').values)

array([       nan, 2.12979375, 2.12790656, 2.12474326, 2.12077932,
       2.11644705, 2.11207845, 2.10788375, 2.10397718, 2.100422  ,
       2.09724983, 2.09447212, 2.09208754, 2.09008667, 2.08845794,
       2.08719092, 2.0862761 , 2.08570455, 2.08546766, 2.08555702,
       2.08596432, 2.08668129, 2.0876996 , 2.08901092, 2.09060682,
       2.09247882, 2.09461838, 2.09701686, 2.09966558, 2.10255582,
       2.1056788 , 2.10902572, 2.11258776, 2.1163561 , 2.12032194,
       2.12447648, 2.12881098, 2.13331673, 2.13798508, 2.14280746,
       2.14777538, 2.15288042, 2.15811429, 2.16346878, 2.1689358 ,
       2.17450739, 2.18017571, 2.18593307, 2.19177198, 2.19768531,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan])

In [52]:
np.log(pd.to_numeric(df.iloc[:, 1:].stack(), errors='coerce').unstack())

/nix/store/grz7lgv2i6x8335n1pfl38x906vc2iby-python3-3.12.10-env/lib/python3.12/site-packages/pandas/core/internals/blocks.py:393: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)

,0.5,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0,...,35.5,36.0,36.5,37.0,37.5,38.0,38.5,39.0,39.5,40.0
0,NaN,2.155865,2.164177,2.163407,2.159182,2.153934,2.148557,2.143398,2.138608,2.134239,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2.129794,2.127907,2.124743,2.120779,2.116447,2.112078,2.107884,2.103977,2.100422,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2.046943,2.051911,2.053485,2.053239,2.052194,2.050950,2.049814,2.048926,2.048347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2.029005,2.062340,2.076126,2.079747,2.078543,2.075374,2.071704,2.068308,2.065603,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2.000277,2.045864,2.062064,2.064012,2.059325,2.051845,2.043562,2.035601,2.028615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,1.455826,1.439353,1.402119,1.375484,1.356925,1.343494,1.333993,1.327756,1.324277,1.323134,...,1.499410,1.497142,1.494746,1.492218,1.489558,1.486763,1.483831,1.480760,1.477550,1.474197
656,1.477274,1.425788,1.376319,1.346838,1.329441,1.319028,1.313292,1.310951,1.311175,1.313381,...,1.515755,1.513311,1.510736,1.508030,1.505189,1.502213,1.499099,1.495847,1.492453,1.488918
657,1.509063,1.479084,1.457223,1.445040,1.436732,1.430826,1.427094,1.425345,1.425352,1.426876,...,1.562482,1.559861,1.557129,1.554288,1.551334,1.548267,1.545084,1.541785,1.538368,1.534832
658,1.480481,1.439974,1.416794,1.403691,1.394121,1.386840,1.381801,1.378954,1.378166,1.379234,...,1.543082,1.540410,1.537605,1.534664,1.531586,1.528368,1.525007,1.521501,1.517847,1.514042
659,1.494679,1.460397,1.441731,1.434688,1.431337,1.429968,1.430298,1.432190,1.435510,1.440097,...,1.617167,1.614502,1.611717,1.608811,1.605781,1.602625,1.599343,1.595930,1.592387,1.588710

pd.to_numeric(..., errors='coerce') converts anything non-numeric to NaN

.values or .unstack() strips weird index metadata

np.log(...) then applies safely